$bold: 700
$primary-color: #02a6a9
$animate-speed: 0.4s

\:root
  --primary-color: #{$primary-color}
  --animate-speed: #{$animate-speed}

html, body
  font-family: 'Roboto', sans-serif
  height: 100%

#css-grid
  height: 100%
  display: grid
  grid-template-columns: 15% 25% 45% 15%
  grid-template-rows: 60px auto
  column-gap: 30px

#info-column
  grid-column-start: 2
  grid-column-end: 3
  grid-row-start: 1
  grid-row-end: last-line
  align-self: center
  
  nav a
    margin-right: 15px

#post-column
  grid-column-start: 3
  grid-column-end: 4
  grid-row-start: 1
  grid-row-end: last-line
  overflow: auto
  padding-top: 100px

.blog-page-title
  font-size: 80px
  font-weight: $bold
  color: $primary-color
  transition: color var(--animate-speed)
  
  &:hover,
  &:focus,
  &:active
    text-decoration: none
    color: darken($primary-color, 5%)